html {
  background-image:url(footer_lodyas.png);
/*  background-color:#E9E9E9;*/
}

body {
  background-image:url(footer_lodyas.png);
/*  background-color:#E9E9E9;*/
}

.add-wrapper{
  width:400px;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
  border-color: #111;
}

.add-form{

}
