<!DOCTYPE html>
<html>
  @head("IEDB - New Title")
  <body>
    @top_bar()
    <div class="add-wrapper">  
      <form method="post" action="@routes.Viewer.search()">
        <h1>Select the type of the new Title:</h1>
        <br>
        <br>
        <b>Auditive:</b>
        <br>
        <input type="radio" id="music" name="gender" value="Music"> Music
        <br><br>

        <b>Written:</b>
        <br>
        <input type="radio" id="book" name="gender" value="Book"> Book
        <br>
        <input type="radio" id="comic" name="gender" value="Comic"> Comic
        <br><br>

        <b>Visual:</b>
        <br>
        <input type="radio" id="movie" name="gender" value="Movie"> Movie
        <br>
        <input type="radio" id="series" name="gender" value="Series"> Series
      </form>
      <button id="next" class="next">Next</button>
    </div>
    <script>
      document.getElementById("next").onclick = function() {

        if (document.getElementById('music').checked) {
          location.href = "/create/music";
        };

        if(document.getElementById('book').checked){
          location.href = "/create/book";
        };

        if(document.getElementById('comic').checked){
          location.href = "/create/comic";
        };

        if(document.getElementById('movie').checked){
          location.href = "/create/movie";
        };

        if(document.getElementById('series').checked){
          location.href = "/create/series";
        };

      };
    </script>

  </body>
</html>
