@(form: Form[Comic], route: String, results: List[Genre])

@import scala.collection.immutable.Map

<!DOCTYPE html>
<html>
  @head("IEDB - Add Comic")
  <body>
    @top_bar()
    <div class="add-wrapper">

      <form method="post" action='@route'>
      	<font size="5">Add Comic:</font><br><br>

        <!-- Name -->
        @form_input(form, "text", "name", "Name",
                    if (form("name").value == null) Map('required -> "")
                    else Map('readonly -> ""))

        <!-- Description -->
        @form_textarea(form, "text", "description", "Description",
                       Map('rows -> "5"))

        <!-- Genre -->
        @form_select(form, "genre", "Genre", results.map { 
                     result => result.getGenre() })

        <!-- Nationality -->
        @form_input(form, "text", "arc", "Arc")

        <!-- Edition -->
        @form_input(form, "number", "num", "Edition", 
                    Map('value -> "0", 'min -> "0"))

        <!-- Submit -->
        @form_submit("Finish")
      </form>

    </div>
  </body>
</html>
