@(form: Form[Series], route: String, results: List[Genre], 
  censorships: List[Censorship])

@import scala.collection.immutable.Map

<!DOCTYPE html>
<html>
  @head("IEDB - Add Series")
  <body>
    @top_bar()
    <div class="add-wrapper">

      <form method="post" action='@route'>
      	<font size="5">Add Series:</font> <br><br>

        <!-- Name -->
        @form_input(form, "text", "name", "Name", Map('required -> ""))

        <!-- Description -->
        @form_textarea(form, "text", "description", "Description",
                       Map('rows -> "5"))

        <!-- Genre -->
        @form_select(form, "genre", "Genre", results.map { 
                     result => result.getGenre() })

        <!-- Nationality -->
        @form_input(form, "text", "nationality", "Nationality")

        <!-- Date init -->
        @form_input(form, "date", "dateInit", "Date Init")

        <!-- Date end -->
        @form_input(form, "date", "dateEnd", "Date End")

        <!-- Seasons -->
        @form_input(form, "number", "numSeasons", "Seasons",
                    Map('value -> "0", 'min -> "0"))

        <!-- Censorship-->
        @form_select(form, "censorship", "Censorship", censorships.map {
                     censorship => censorship.getCensorship() })

        <!-- Submit -->
        @form_submit("Finish")
      </form>

    </div>
  </body>
</html>
