@(results: List[_ <: Genre_visual])

<html>
  <head>
    <title>IEDB - Add Movie</title>
  </head>
  <body>
    <form method="post" action="@routes.RegisterTitles.addNewComic()">
      <font size="5">Add Movie:</font><br><br>

      Name: <br>
      <input type="text" name="name" required/> <br><br>
      
      Description: <br>
      <input type="text" name="description"> <br><br>
      
      Genre: <br>
      <select name="genre">
      	<ul> 
      		@results.map { result =>			
      			<option value=@(result.getGenre)>@(result.getGenre)</option>
      		}
    		</ul>
    	</select> <br><br>
      
      Duration: <br>
      <input type="number"  value="0" min="0" name="duration"> minutes<br><br>
      
      Nationality: <br>
      <input type="text" name="nationality"> <br><br>
      
      Censorship: <br>
      <input type="text" name="censorship"> <br><br> <br>
      
     	<input type="submit" value="Finish">      	
    </form>
  </body>
</html>