@(results: List[_ <: Genre_auditive])

<html>
  <head>
    <title>IEDB - Add Music</title>
  </head>
  <body>
    <form method="post" action="@routes.RegisterTitles.addNewMusic()">

    

    	Add Music:<br>
      	Name:
      	<input type="text" name="name">
      	<br>
      	Description:
      	<input type="text" name="description">
      	<br>
      	Genre:
      	<select name="genre">
      		<ul> 
      			@results.map { result =>
      			
      			<option value=@(result.getGenre)>@(result.getGenre)</option>
      			}
    		</ul>
    	</select>
      	<br>
      	Duration:
      	<input type="number" name="duration">
      	<br>
 
      	<br>
      	<input type="submit" value="Finish">
      	<br>
      	
    </form>
  </body>
</html>