@(form: Form[Series], route: String, results: List[Genre], 
  censorships: List[Censorship])

<!DOCTYPE html>
<html>
  @head("IEDB - Add Series")
  <body>
    @top_bar()
    <div class="add-wrapper">
      <form method="post" action='@route'>
      	<font size="5">Add Series:</font> <br><br>

        Name: <br>
        <input type="text" name="name" required/> <br><br>
        	
        Description: <br>
        <input type="text" name="description"> <br><br>
        	
        Genre: <br>
        <select name="genre">
        	<ul> 
        		@results.map { result =>		
        			<option value=@(result.getGenre)>@(result.getGenre)</option>
        		}
      		</ul>
      	</select> <br><br>
        
        Date Init: <br>
        <input type="date" value="2014-01-01" name="dateInit" required/> <br><br>
        
        Date End: <br>
        <input type="date" value="2014-01-01" name="dateEnd" required/> <br><br>
        
        Seasons: <br>
        <input type="number" value="0" min="0" name="numSeasons"> <br><br>
        
        Censorship: <br>
        <select name="censorship">
          <ul> 
            @censorships.map { censorship =>      
              <option value=@(censorship.getCensorship)>@(censorship.getCensorship)</option>
            }
          </ul>
        </select> <br><br><br>
        <input type="submit" value="Finish"> <br><br>	
      </form>
    </div>
  </body>
</html>
