@(form: Form[Book], results: List[Genre])

<!DOCTYPE html>
<html>
  @head("IEDB - Add Book")
  <body>
    @top_bar()
    <div class="add-wrapper">
      <form method="post" action='@routes.Manager.add("book")'>
        <h1>Add Book:</h1><br><br>

        Name: <br>
        <input type="text" name="name" required/> <br><br>
        
        Description: <br>
        <input type="text" name="description"> <br><br>
        
        Genre: <br>
        <select name="genre">
        	<ul> 
        		@results.map { result =>		
        		  <option value=@(result.getGenre)>@(result.getGenre)</option>
        		}
      		</ul>
      	</select> <br><br>
        
        Number of Editions: <br>
        <input type="number" value = "0" min="0" name="numEditions"> <br><br> <br>

        <input type="submit" value="Finish">      	
      </form>
    </div>
  </body>
</html>
