@(form: Form[Music], route: String, results: List[Genre])

@import scala.collection.immutable.Map

<!DOCTYPE html>
<html>
  @head("IEDB - Add Music")
  <body>
    @top_bar()
    <div class="add-wrapper">

      <form method="post" action='@route'>
      	<font size="5">Add Music:</font> <br><br>

        <!-- Name -->
        @form_input(form, "text", "name", "Name", Map('required -> ""))

        <!-- Description -->
        @form_textarea(form, "text", "description", "Description",
                       Map('rows -> "5"))

        <!-- Genre -->
        @form_select(form, "genre", "Genre", results.map { 
                     result => result.getGenre() })

        <!-- Duration -->
        @form_input(form, "number", "duration", "Duration",
                    Map('value -> "0", 'min -> "0"))
   
        <!-- Submit -->
        @form_submit("Finish")
      </form>

    </div>
  </body>
</html>
