@(form: Form[Movie], route: String, results: List[Genre], 
  censorships: List[Censorship])

@import scala.collection.immutable.Map

<!DOCTYPE html>
<html>
  @head("IEDB - Add Movie")
  <body>
    @top_bar()
    <div class="add-wrapper">

      <form method="post" action='@route'>
        <font size="5">Add Movie:</font><br><br>

        <!-- Name -->
        @form_input(form, "text", "name", "Name",
                    if (form("name").value == null) Map('required -> "")
                    else Map('readonly -> ""))

        <!-- Description -->
        @form_textarea(form, "text", "description", "Description",
                       Map('rows -> "5"))

        <!-- Genre -->
        @form_select(form, "genre", "Genre", results.map { 
                     result => result.getGenre() })

        <!-- Duration -->
        @form_input(form, "number", "duration", "Duration",
                    Map('value -> "0", 'min -> "0"))

        <!-- Nationality -->
        @form_input(form, "text", "nationality", "Nationality")

        <!-- Censorship-->
        @form_select(form, "censorship", "Censorship", censorships.map {
                     censorship => censorship.getCensorship() })

        <!-- Submit -->
        @form_submit("Finish")
      </form>

    </div>
  </body>
</html>
