@(results: List[_ <: Genre_auditive])

<html>
  <head>
    <title>IEDB - Add Music</title>
  </head>
  <body>
    <form method="post" action="@routes.RegisterTitles.addNewMusic()">
    	<font size="5">Add Music:</font> <br><br>
      	Name: <br>
      	<input type="text" name="name"> <br><br>
      	
      	Description: <br>
      	<input type="text" name="description"> <br><br>
      	
      	Genre: <br>
      	<select name="genre">
      		<ul> 
      			@results.map { result =>
      			
      			<option value=@(result.getGenre)>@(result.getGenre)</option>
      			}
    		</ul>
    	</select> <br><br>
      	
      	Duration: <br>
      	<input type="number" name="duration"> <br><br> <br>
 
      	<input type="submit" value="Finish">     	
    </form>
  </body>
</html>