@(form: Form[Login.PossibleClient])

@formInput(itype: String, attr: String, label: String, reuse: Boolean) = {
      <dl class="input_item" id="@("input_"+attr)">
        <dt><label for="@attr">@label</label></dt>
        <dd><input type="@itype" name="@attr" id="@("input_"+attr)"
                   value="@if(reuse){@form(attr).value}"></dd>
        @if(!form(attr).errors.isEmpty) {<dd class="error">
          @for(error <- form(attr).errors) {<div>@error.message</div>}
        </dd>}
      </dl>
}

<html>
  <head>
    <title>IEDB - Signin</title>
  </head>
  <body>
    <header>
      <h1>IEDB</h1>
    </header>
    <form action="@routes.Login.authenticate" method="POST">
      <h1>Sign in</h1>
      @formInput("email",    "email",    "Email",    true)
      @formInput("password", "password", "Password", false)
      <div><button type="submit">Sign in</button></div>
    </form>
  </body>
</html>
