@(form: Form[Register.NewClient])

@formInput(itype: String, attr: String, label: String, reuse: Boolean) = {
      <dl class="input_item" id="@("input_"+attr)">
        <dt><label for="@attr">@label</label></dt>
        <dd><input type="@itype" name="@attr" id="@("input_"+attr)"
                   value="@if(reuse){@form(attr).value}" class="form-control"></dd>
        @if(!form(attr).errors.isEmpty) {<dd class="error">
          @for(error <- form(attr).errors) {<div>@error.message</div>}
        </dd>}
      </dl>
}

<html>
  <head>
    <title>IEDB - Signup</title>
    @header()
  </head>
  <body>
    <header>
      @top_bar()
    </header>
    <form action="@routes.Register.addClient" method="POST" class="form-signup" role="form">
      <h1>Sign up</h1>
      @formInput("text",     "username",      "Username",        true)
      @formInput("email",    "email",         "Email",           true)
      @formInput("password", "password",      "Password",        false)
      @formInput("password", "password_conf", "Repeat password", false)
      <div><button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button></div>
    </form>
  </body>
</html>
