@(form: Form[Login.Signin])

<html>
    <head>
        <title>IEDB - Sign in</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>
        <header>
            <h1> IEDB </h1>
        </header>
        @if(form.hasGlobalErrors) {
            <p class="error">
            	@form.globalError.message
            </p>
        }
    	@helper.form(routes.Login.authenticate) {
    	   <h1>Sign in</h1>

    	   <p>
    	       <input type="email" name="email" placeholder="Email" value="@form("email").value">
    	   </p>
    	   <p>
    	       <input type="password" name="password" placeholder="Password">
    	   </p>
    	   <p>
    	       <button type="submit">Sign-in</button>
    	   </p>
    	}
    </body>
</html>