@(form: Form[Login.PossibleClient])

@formInput(itype: String, attr: String, label: String, reuse: Boolean) = {
      <dl class="input_item" id="@("input_"+attr)">
        <dt><label for="@attr">@label</label></dt>
        <dd><input type="@itype" name="@attr" id="@("input_"+attr)"
            value="@if(reuse){@form(attr).value}" 
            class="form-control" required></dd>
        @if(!form(attr).errors.isEmpty) {<dd class="error">
          @for(error <- form(attr).errors) {<div>@error.message</div>}
        </dd>}
      </dl>
}

<!DOCTYPE html>

<html>
  <head>
    <title>IEDB - Signin</title>
    @header()
  </head>
  <body>
    <header>
      @top_bar()
    </header>
    <div class="container">
      <form action="@routes.Login.authenticate" method="POST"
            class="form-signin" role="form">
        <h1>Sign in</h1>
        @formInput("email",    "email",    "Email",    true)
        @formInput("password", "password", "Password", false)
        <div><button class="btn btn-lg btn-primary btn-block" 
                     type="submit">Sign in</button></div>
      </form>
    </div> <!-- /container -->
  </body>
</html>
