@(title: Title)

<!DOCTYPE html>
<html>
  @head("IEDB - " + title.getName)
  <body>
  @top_bar()
  <div class="container" id="result-wrapper">
    <h2>@title.getName</h2><br>

    <p><b>Description:</b> @title.getDescription</p>
    <p><b>Rate:</b> @title.getRate</p>
    @if(title.isInstanceOf[Auditive]) {
      <p><b>Duration:</b> @title.asInstanceOf[Music].getDuration min</p>
    }
    
    @if(title.isInstanceOf[Written]) {
      @if(title.isInstanceOf[Comic]) {
        <p><b>Number:</b> @title.asInstanceOf[Comic].getNum</p>
        <p><b>Arc:</b> @title.asInstanceOf[Comic].getArc</p>
      } else {
        <p><b>Number of editions:</b> @title.asInstanceOf[Book].getNumEditions</p>
      }
    }

    @if(title.isInstanceOf[Visual]) {
      @if(title.isInstanceOf[Movie]) {
        <p><b>Duration:</b> @title.asInstanceOf[Movie].getDuration</p>
        <p><b>Nationality:</b> @title.asInstanceOf[Movie].getNationality</p>
      } else {
        <p><b>Start date:</b> @title.asInstanceOf[Series].getDateInit</p>
        <p><b>End date:</b> @title.asInstanceOf[Series].getDateEnd</p>
        <p><b>Number of seasons:</b> @title.asInstanceOf[Series].getNumSeasons</p>
      }
    }

    @if(!title.getReferences.isEmpty){
    <h4> Refers to</h4>
    <ul> 
      @for(ref <- title.getReferences){
      <li><a href="@routes.Manager.show(ref.getType, ref.getName)">
        @(ref.getName)
      </a></li>
      }
    </ul>
    }
    
    <input type="checkbox" class="glyphicon glyphicon-star-empty">
    <br><br><br>
    @if(session().get("email") != null) {
      How many stars "@title.getName" deserves?
      <form method="post" action="@routes.StarsController.addNewStars()">

        <input type="hidden" name="title" value=@(title.getId)>
        <input type="checkbox" id="1" onclick="vote(1)">
        <input type="checkbox" id="2" onclick="vote(2)">
        <input type="checkbox" id="3" onclick="vote(3)">
        <input type="checkbox" id="4" onclick="vote(4)">
        <input type="checkbox" id="5" onclick="vote(5)">
        <br>
        <input type="submit" value="Vote">
      </form>
    }
  </div>
  
  <br><br>
  <div>
  @if(session().get("email") != null) {
  <a href='@routes.Manager.update(title.getType, title.getName)'>
    Edit
  </a>
  }
  </div>

  <script>
    function vote(x) {
      if(x >= 0 && x <= 5) {
        for(var id = 1; id <= 5; id++) {
          document.getElementById(id).checked = (x >= id ? true : false);
        }
        document.getElementById('star').value = x;
      }
    }
  </script>
  </body>
</html>
