

IEDB - Internet Entertainment Data Base

<div>
	@if(session().get("email") != null){
		<div>
			@session().get("email")
		</div>
	}

	<button id="signin-button" class="submit-button">Sign in</button>
	<button id="signup-button" class="submit-button">Sign up</button>
	<button id="signout-button" class="submit-button">Sign out</button>
</div>

<script type="text/javascript">
	@if(session().get("email") == null){
		document.getElementById('signout-button').style.visibility='hidden';
	}else{
		document.getElementById('signin-button').style.visibility='hidden';
		document.getElementById('signup-button').style.visibility='hidden';
	}

  	document.getElementById("signout-button").onclick = function() {
   		location.href = "@routes.Login.signout()";
  	};
  	document.getElementById("signin-button").onclick = function() {
    	location.href = "@routes.Login.signin()";
  	};
    document.getElementById("signup-button").onclick = function() {
    	location.href = "@routes.Register.signup()";
  	};
</script>