IEDB - Internet Entertainment Data Base
<div>
	@if(request.username() == null){
		<button id="signin-button" class="submit-button">Sign in</button>
  		<button id="signup-button" class="submit-button">Sign up</button>
	}else{
		<button id="signout-button" class="submit-button">Sign out</button>
	}
</div>

<script type="text/javascript">
  document.getElementById("signin-button").onclick = function() {
    location.href = "@routes.Login.signin()";
  };
  document.getElementById("signup-button").onclick = function() {
    location.href = "@routes.Register.signup()";
  };
  document.getElementById("signout-button").onclick = function() {
    location.href = "@routes.Login.signout()";
  };
</script>